.categories-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.categories .header p {
    font-size: 30px;
    color: var(--color-text);
    font-weight: 600;
}

.categories-grid-wrapper {
    overflow: hidden;
    width: 100%;
}

.indicator {
    display: flex;
    gap: 12px;
    justify-content: center;
}

/* ----------- Responsive ----------- */

/* Large Mobile */
@media (max-width: 767px) {

    .categories{
        align-items: flex-start;
    }
    .categories-section {
        gap: 20px;
    }

    .categories .header p {
        font-size: 22px;
    }

}