.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: var(--color-page);
}

.hero-slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.hero-slide.active {
    opacity: 1;
    z-index: 1;
}

.hero-slide img {
    width: 100%;
    height: 100%;
    padding: 20px var(--padding-desktop) 0;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgb(29, 29, 29),
            rgba(31, 31, 31, 0.758),
            rgba(31, 31, 31, 0.703),
            rgba(0, 0, 0, 0.349),
            transparent);
}

.hero-content {
    position: absolute;
    z-index: 100;
    top: 65%;
    left: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    color: var(--color-text);
    font-size: 30px;
}

.hero-content p {
    color: var(--color-paragraph);
    font-size: var(--normal-font-size);
    padding: 20px 0;
}

.hero-content button {
    border-radius: var(--radius-btn);
    background-color: var(--color-main-red);
    color: var(--color-text);
    font-size: var(--normal-font-size);
    padding: 14px 30px;
    border: none;
    transition: background-color .55s ease-in-out;
}

.hero-content button:hover {
    background-color: var(--color-main-hover-red);
}

.hero-content button i {
    margin-right: 12px;
}

.arrow {
    position: absolute;
    top: 90%;
    z-index: 10000;
    padding: 12px 18px;
    border-radius: var(--radius-btn);
    border: 1px solid var(--border-card-black);
    font-size: 20px;
    background-color: var(--background-btn-black);
    color: var(--color-text);
    transition: background-color .55s ease-in-out;
}

.arrow:hover {
    background-color: var(--background-btn-card);
}

.arrow.left {
    left: 150px;
}

.arrow.right {
    right: 150px;
}

.indicators {
    position: absolute;
    z-index: 100;
    bottom: 70px;
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.dot {
    width: 35px;
    height: 4px;
    background-color: #333333;
    cursor: pointer;
    transition: .55s ease;
    border-radius: var(--radius-btn);
}

.dot.active {
    background-color: var(--color-main-red);
    width: 55px;
}

/* ----------- Responsive ----------- */

/* Large Mobile */
@media (max-width: 767px) {

    .hero-slide img {
        padding: 80px 30px 50px;
        border-radius: var(--radius-btn);
        object-fit:cover;
    }

    .hero-content {
        top: 50%;
        left: 10%;
        width: 80%;
    }

    .hero-content h1 {
        font-size: 24px;
    }

    .hero-content p {
        font-size: var(--mobile-font-size);
        padding: 20px 0;
    }

    .hero-content button {
        font-size: var(--mobile-font-size);
        padding: 12px 30px;
        }

        .arrow{
            display: none;
        }
        .group .indicators{
            bottom: 100px;
        }

}