#home-section {
    background-color: var(--color-page);
    padding: 150px var(--padding-desktop);
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.categories-section{
    display: flex;
        flex-direction: column;
    gap: 60px;
}
.categories{
    display: flex;
    justify-content: space-between;
}
.categories-header{
    display: flex;
        flex-direction: column;
        gap: 10px;
}

.categories-header p:nth-of-type(1){
    font-size: 28px;
    color: var(--color-text);
}
.categories-header p:nth-of-type(2){
    font-size: var(--normal-font-size);
    color: var(--color-paragraph);
}

.categories-grid-wrapper {
    /* overflow: hidden; */
    width: 100%;
}

.categories-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (4 * 20px)) / 5); 
    gap: 20px;
    transition: transform 0.6s ease-in-out;
}


.categories-arrows {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid var(--border-card-black);
    background-color: var(--background-btn-black);
    border-radius: var(--radius-btn);
    padding: 12px;
}

.categories-arrows button{
    padding: 10px 16px;
    border-radius: var(--radius-btn);
    border: 1px solid var(--border-card-black);
    font-size: 16px;
    background-color: var(--background-card-black);
    color: var(--color-text);
    transition: background-color .55s ease;
}

.categories-arrows button:hover{
    background-color: var(--background-card-black-hover);
}

.indicator{
        display: flex;
    gap: 12px;
    justify-content: center;
}

.indicator span{
        width: 35px;
    height: 4px;
    background-color: #333333;
    cursor: pointer;
    transition: .55s ease;
    border-radius: var(--radius-btn);
}

.indicator span.active{
        background-color: var(--color-main-red);
    width: 55px;
}




