.Home-section {
    background-color: var(--color-page);
    padding: 100px var(--padding-desktop);
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.categories-section{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.categories-header p:nth-of-type(1){
    font-size: 28px;
    color: var(--color-text);
}
.categories-header p:nth-of-type(2){
    font-size: var(--normal-font-size);
    color: var(--color-paragraph);
}

.categories-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}