.Home-section {
    background-color: var(--color-page);
}

.categories{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 100px var(--padding-desktop);
}

.categories-header p:nth-of-type(1){
    font-size: 28px;
    color: var(--color-text);
}
.categories-header p:nth-of-type(2){
    font-size: var(--normal-font-size);
    color: var(--color-paragraph);
}

.categories-section {
    width: 100%;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}