.navbar-section {
    position: fixed;
    top: 0;
    z-index: 1000000;
    width: 100%;
    transition: background-color 0.35s ease;
}

.navbar-section.scrolled {
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    background-color: var(--background-btn-black);
    border-radius: 0 0 30px 30px;
}

.navbar-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px var(--padding-desktop);
}

.logo p {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-text);
}

.logo-letter {
    color: var(--color-main-red);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 8px;
    background-color: var(--background-btn-black);
    border-radius: var(--radius-btn);
    border: 4px solid var(--background-card-black);
}

.nav-links a {
    background-color: transparent;
    font-size: var(--normal-fontSize);
    padding: 12px;
    color: var(--color-text-navbar);
    border-radius: var(--radius-btn);
    transition: background-color 0.35s ease-in-out,
        color 0.35s ease-in-out;
    ;
}

.nav-links a:hover {
    background-color: var(--background-card-black);
    color: var(--color-text);
}

.nav-links a.active {
    border-bottom: 3px solid var(--color-main-red);
    padding-bottom: 4px;
}

.nav-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-actions p {
    font-size: 20px;
    color: var(--color-text);
    transition: color 0.35s ease-in-out;
    padding: 14px 18px;
}

.nav-actions p:hover {
    color: var(--color-main-hover-red);
}

.nav-actions button {
    color: var(--color-text);
    background-color: var(--color-main-red);
    border: none;
    border-radius: var(--radius-btn);
    padding: 12px 16px;
    font-size: var(--normal-fontSize);
    transition: background-color 0.35s ease-in-out;
}

.nav-actions button:hover {
    background-color: var(--color-main-hover-red);
}

.menu-btn {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background-color: var(--background-card-black);
    padding: 10px;
    border-radius: var(--radius-btn);
    border: 2px solid var(--border-card-black);
    transition: background-color .55s ease;
}

.menu-btn:hover{
    background-color: var(--background-card-black-hover);
}
.menu-btn.active{
    background-color: var(--background-card-black-hover);
}

.menu-btn span {
    height: 1.8px;
    background: var(--color-text);
    border-radius: var(--radius-btn);
    transition: 0.3s;
}

.menu-btn span:nth-child(1) {
    width: 18px;
}

.menu-btn span:nth-child(2) {
    width: 18px;
}

.menu-btn span:nth-child(3) {
    width: 12px;
}

/* ----------- Responsive ----------- */

/* Large Mobile */
/* @media (min-width: 576px) and (max-width: 767px) { */
@media (max-width: 767px) {
    .nav-links {
        position: absolute;
        top: 85%;
        right: 10px;
        background: var(--background-btn-black);
        width: 40%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 5px 0;
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition: all .55s ease;
        z-index: 1500;
    }

    .nav-links.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .nav-actions {
        display: none;
    }

    .nav-links a{
        font-size: var(--mobile-font-size);
    }

    .menu-btn {
        display: flex;
        align-items: flex-end;
        
    }

    .navbar-group {
        padding: 20px var(--padding-mobile);
    }

    .logo {
        order: 1;
    }

    .logo p{
        font-size: 26px;
    }

    .menu-btn {
        order: 2;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {}

/* Laptop */
@media (min-width: 992px) and (max-width: 1365px) {}

/* Desktop */
@media (min-width: 1366px) and (max-width: 1599px) {}

/* Large Screens */
@media (min-width: 1600px) {}