.spotlight {
    position: absolute;
    inset: 0;
    background: url('/public/backgroundhero\(1\).jpg');
    pointer-events: none;
    mask-image: radial-gradient(circle 420px at center,
            transparent 0%,
            rgba(0, 0, 0, 0.8) 30%,
            black 60%);

    -webkit-mask-image: radial-gradient(circle 420px at center,
            transparent 0%,
            rgba(0, 0, 0, 0.8) 30%,
            black 60%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hero-section {
    position: relative;

    background: url('/public/backgroundhero\(2\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 var(--padding-desktop);
}

.content-hero {
    color: var(--color-text);
    animation: slideFromLeft 1s ease-out forwards;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    gap: 18px;

}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(-10px);
        opacity: 1;
    }
}

.content-hero h1 {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    /* color: var(--background-card-black); */
    color: var(--color-text);
}

.content-hero p {
    color: var(--background-card-black-hover);
    /* color: var(--color-text); */
    font-size: 20px;
    width: 50%;
}

.content-hero button {
    font-size: var(--normal-font-size);
    padding: 14px 20px;
    border-radius: var(--radius-btn);
    border: none;
    background-color: var(--color-main-red);
    color: var(--color-text);
    align-self: flex-start;
    transition: background-color 0.35s ease-in-out;
}

.content-hero button:hover {
    background-color: var(--color-main-hover-red);
}

.content-hero button i {
    margin-right: 6px;
}


/* ----------- Responsive ----------- */

/* Large Mobile */
@media (max-width: 767px) {
    #hero-section {
        background:
            url('/public/backgroundhero\(1\).jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 0 var(--padding-mobile);
    }

    .spotlight {
        display: none;
    }

    .content-hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 18px;
        text-align: center;
        margin-left: 20px;
    }

    .content-hero h1 {
        font-size: 32px;
        color: rgb(217, 216, 216);
        width: 100%;
        margin-top: 250px;
    }

    .content-hero p {
        font-size: var(--mobile-font-size);
        color: var(--color-paragraph);
        width: 100%;
    }

    .content-hero button {
        font-size: var(--mobile-font-size);
        padding: 14px 24px;
        align-self: center;
    }

}