.questions {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.questions-header p:nth-of-type(1) {
    font-size: 28px;
    color: var(--color-text);
}

.questions-header p:nth-of-type(2) {
    font-size: var(--normal-font-size);
    color: var(--color-paragraph);
}

.questions-grid {
    display: flex;
    gap: 24px;
}

.questions-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ques-item {
    border-radius: var(--radius-btn);
    padding: 18px 20px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.ques-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(to right,
            transparent,
            var(--color-main-red),
            transparent);
    border-radius: var(--radius-btn);
}

.ques-item:hover {
    background: #181818;
}

.ques {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ques-num {
    background: var(--background-card-black);
    padding: 16px;
    border-radius: var(--radius-btn);
    font-size: var(--normal-font-size);
}

.ques p {
    flex: 1;
    font-size: 20px;
    color: var(--color-text);
}

.ques-icon {
    font-size: 30px;
    color: var(--color-text);
    transition: 0.3s;
}

.answer {
    margin: 0 60px;
    overflow: hidden;
    animation: fadeSlide 0.3s ease;
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ques-item.active .answer {
    max-height: 200px;
    opacity: 1;
}

.answer p {
    font-size: var(--normal-font-size);
    color: var(--color-paragraph);
    line-height: 1.6;
}

/* ----------- Responsive ----------- */

/* Large Mobile */
@media (max-width: 767px) {
    .questions {
        gap: 40px;
    }

    .questions-header p:nth-of-type(1) {
        font-size: 20px;
    }

    .questions-header p:nth-of-type(2) {
        font-size: var(--mobile-font-size);
    }

    .questions-grid {
        flex-direction: column;
    }

    .ques-item {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .ques {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .ques-num {
        padding: 12px;
        font-size: 16px;
    }

    .ques p {
        font-size: 18px;
    }

    .ques-icon {
        font-size: 30px;
        color: var(--color-text);
        transition: 0.3s;
    }

    .answer {
        margin: 0;
    }

    .answer p {
        font-size: var(--mobile-font-size);
        line-height: 1.6;
    }
}