.home-sub {
    padding: 220px var(--padding-desktop) 150px;
    background-color: var(--color-page);
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.hero-sub {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.header-sub {
    display: flex;
    flex-direction: column;
}

.header-sub div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-sub h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--color-text);
}

.header-sub p {
    font-size: var(--normal-font-size);
    color: var(--color-paragraph);
    font-weight: 600;
}

.btns-header {
    padding: 8px;
    background-color: var(--background-btn-black);
    border-radius: var(--radius-btn);
    border: 1px solid var(--border-card-black);
    display: flex;
    gap: 1px;
}

.btns-header button {
    padding: 12px 20px;
    border-radius: var(--radius-btn);
    border: none;
    color: var(--color-text);
    background-color: var(--background-btn-black);
    transition: background-color 0.35s ease
}

.btns-header button.active {
    background-color: var(--background-card-black);
}

.cards-sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.header-container h1 {
    font-size: 38px;
    color: var(--color-text);
    margin-bottom: 15px;
}

.header-container p {
    font-size: var(--normal-font-size);
    color: var(--color-paragraph);
}

/* ----------- Responsive ----------- */

/* Large Mobile */
@media (max-width: 767px) {
    .home-sub {
        padding: 150px var(--padding-mobile) 100px;
        gap: 80px;
    }

    .hero-sub {
        gap: 40px;
    }

    .header-sub div:nth-of-type(2) {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .header-sub h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .header-sub p {
        font-size: var(--mobile-font-size);
        font-weight: 400;
    }

    .btns-header button {
        font-size: var(--mobile-font-size);
    }

    .cards-sub {
        display: flex;
        flex-direction: column;
    }

    .sub-container {
        gap: 40px;
    }

    .header-container h1 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .header-container p {
        font-size: var(--mobile-font-size);
    }
}