:root {
    --color-main-red: #E50000;
    --color-main-hover-red: #bf0303;
    --color-page: #121212;
    --color-text: #FFFFFF;
    --color-paragraph: #999999;
    --color-text-navbar:#cecece;

    --background-card-black: #1F1F1F;
    --background-card-black-hover: #2c2c2c;
    --background-btn-card: #141414;
    --background-btn-black: #0F0F0F;

    --border-card-black: rgb(45, 45, 45);

    --radius-btn: 10px;

    --normal-font-size:16px;
    --mobile-font-size:14px;

    --padding-desktop: 120px;
    --padding-mobile: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

a {
    all: unset;
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0;
}


/* Mobile */
@media (max-width: 575px) {}

/* Large Mobile */
@media (min-width: 576px) and (max-width: 767px) {}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {}

/* Laptop */
@media (min-width: 992px) and (max-width: 1365px) {}

/* Desktop */
@media (min-width: 1366px) and (max-width: 1599px) {}

/* Large Screens */
@media (min-width: 1600px) {}
