.auth-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-page);
}

.auth-box {
    position: relative;
    width: 900px;
    height: 550px;
    background: var(--color-page);
    border-radius: var(--radius-btn);
    overflow: hidden;
    box-shadow: 0px 0px 30px 3px rgba(114, 113, 113, 0.2);
}

.form-box {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.overlay-box {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background: linear-gradient(135deg, var(--color-main-hover-red), var(--color-main-red));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    gap:30px;
}

.auth-box.active .form-box {
    transform: translateX(100%);
}

.auth-box.active .overlay-box {
    transform: translateX(-100%);
}

.overlay-box h2{
    font-weight: 700;
    font-size: 35px;
    color: var(--color-text);
}

.overlay-box p{
    color: var(--color-text);
    font-weight: 400;
    width: 70%;
    text-align: center;
    font-size: var(--normal-font-size);
}

.overlay-box button,
.form-box button{
    border-radius: var(--radius-btn);
    padding: 12px;
    width: 150px;
    background-color: transparent;
    border: 2px solid white;
    color: var(--color-text);
    transition: background-color 0.25s ease-in-out;
    font-size: var(--normal-font-size);
}

.overlay-box button:hover{
    background-color: rgba(128, 128, 128, 0.137);
}

.form-box h2{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
}

.links{
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.links div i{
    font-size: 20px;
    color: var(--color-text);
    padding: 5px;
}

.links div{
    border: 2px solid var(--border-card-black);
    padding: 10px;
    border-radius: 50%;
    width: 55px;
    text-align: center;
    transition: background-color 0.25s ease-in-out;
}

.links div:hover{
    background-color: rgba(128, 128, 128, 0.119);
}

.form-box p{
    color: var(--color-text);
    font-weight: 400;
    font-size: var(--normal-font-size);
}

.inputs-signup,
.inputs-signin{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 14px 0;
}

.inputs-signup input
,.inputs-signin input{
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgba(128, 128, 128, 0.062);
}

.form-box button{
    background-color: var(--color-main-red);
    border: none;
    transition: background-color 0.25s ease-in-out;
}  

.form-box button:hover{
    background-color: var(--color-main-hover-red);
}


.form-box a{
    color: var(--color-text);
    margin-bottom: 14px;
    text-decoration: underline;
    text-underline-offset: 6px;
    transition: color 0.25s ease-in-out;
}

.form-box a:hover{
    color: var(--color-main-hover-red);
}
